body {
  text-align: center;
}

.heading {
  font-family: 'Amatic SC';
  font-weight: 100;
  font-size: 64px;
}

.image {
  object-fit: cover;
  padding: 12px;
}

.image_size_a3 {
  width: 600px;
  height: 400px;
}

.image_position_vertical {
  width: 300px;
  height: 400px;
}
