doctype html

head
  link(href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet")
  link(href="main.css" rel="stylesheet")

h1.heading Творческий путь Светланы Шороновой
section.exposition
  img(src="assets/a3_1.jpg").image_size_a3.image
  img(src="assets/a4_3.jpg").image_size_a3.image
  img(src="assets/a4_4.jpg").image_size_a3.image
  img(src="assets/a4_5.jpg").image_size_a3.image
  img(src="assets/a3_2.jpg").image_size_a3.image
  img(src="assets/a4_6.jpg").image_size_a3.image.image_position_vertical
  img(src="assets/a4_7.jpg").image_size_a3.image.image_position_vertical
  img(src="assets/a4_8.jpg").image_size_a3.image.image_position_vertical
  img(src="assets/a3_3.jpg").image_size_a3.image
  img(src="assets/a4_9.jpg").image_size_a3.image.image_position_vertical
  img(src="assets/a3_4.jpg").image_size_a3.image
